.page-footer {
	padding-top: 40px;
	background: $darkBg;
}
.page-footer .page-elements__title{
	margin-bottom: 35px;
	text-align: center;
}
.page-footer__text {
	text-align: center;
	color: $grey;
	margin-bottom: 60px;
}
.page-footer__btn {
    display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 12px 70px;
	color:  $yellowBtn;
	border: 1px solid  $yellowBtn;
}
/*start page-footer__bottom*/

.page-footer__bottom {
	display: flex;
	-webkit-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	 -webkit-align-items: center;
	         align-items: center;
	color: $grey;
}
.page-footer__icon-list {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style-type: none;
}
.page-footer__items {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 22px;
	margin-bottom: 12px;
	background: url('../img/social-icons.png');
}
.page-footer__instagram {
	background-position: -40px 0;
}
.page-footer__twitter {
	background-position: -80px 0;
	margin-right: 0;
}

@media (min-width: 768px) {
	.page-footer__text {
		margin: 0 auto;
		margin-bottom: 60px;
		width: 500px;
	}
	.page-footer__bottom {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	color: $grey;
	padding-bottom: 10px;
	padding-top: 15px;
}
}

@media (min-width: 1200px) {
	.page-footer {
		padding-top: 65px;
	}
	.page-footer__btn {
		margin-bottom: 90px;
	}
}